profile-editor {
    align-content: center;
    #profile{
        align-content: center;
        
        position: relative;
        margin: 0 auto;
        
    }
    .card{
        margin-right:50%;
        margin-left:-3%;
    }

    #infoForm{
        margin-left: 50%;
        text-align: center
    }
}
