<ion-card>
    <ion-card-content>
        <div id="register-form">
            <div class="row">
                <div class="col-md-12 col-md-offset-3">
                    <form [formGroup]="registerForm" (ngSubmit)="tryRegister()">
                        <div class="form-group">

                            <label id="formLabel">
                                Email address
                                <br>
                                <input type="email" formControlName="email" class="form-control">
                            </label>
                            <div *ngIf="email.invalid && email.dirty">Your email doesn't look quite
                                right....
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>
                                Password
                                <br>
                                <input type="password" class="form-control" formControlName="password">
                            </label>
                            <div *ngIf="password.invalid && password.touched">password must be between 6
                                and 24 characters and contain at least one number
                            </div>
                            <label class="error">{{errorMessage}}</label>
                            <label class="success">{{successMessage}}</label>
                        </div>
                        <div *ngIf="registerForm.valid">Click submit to register your account.</div>
                        <br>
                        <button type="submit" [disabled]="!registerForm.valid" ion-button
                                color="secondary" class="btn btn-block">Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </ion-card-content>
</ion-card>