<ion-item>
  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)='toFriendsList()'>
        <ion-icon name="contacts-outline"></ion-icon>
        Friends
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small (click)='pendingRequestPage()'>
        <ion-icon name="contact-outline"></ion-icon>
        Friend Request
      </button>
    </ion-col>
    <ion-col center text-center>
      <button ion-button icon-left clear small (click)='invitePage()'>
        <ion-icon  name="people-outline"></ion-icon>
        Invite
      </button>
    </ion-col>
  </ion-row>
</ion-item>
