page-dashboard {
  ion-avatar {
    border: solid;
    border-color: #F9F9F0;
    border-radius: 50%;
  };

  .profilePicture {
    border: none;
  };

  .item p {
    white-space: normal;
    padding-bottom: 5px;
    margin-bottom: 11px !important;
  };

  

  .submit {
    padding: 5px;
    margin: 10px;
  };
}
