<ion-header>
  <chat-members></chat-members>
</ion-header>
<ion-content class="friend-background">
  <div class="message-wrap">
    <div *ngFor="let msg of messages | async" class="message" [class.left]="msg.fromUID == this.currentUserID "
      [class.right]="msg.fromUID != this.currentUserID " (press)='showEditButton()'>

      <img class="user-img" alt="" [src]="msg.photoURL">
      <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.username}}&nbsp;&nbsp;&nbsp;{{pipeMsg(msg.time)}}
          </p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.message}}</p>
        </div>
        <div *ngIf='showEdit && msg.fromUID == this.currentUserID'>
          <button>Edit Message</button>
        </div>
      </div>


    </div>
  </div>
</ion-content>

